<link rel="stylesheet" href="~/css/login.css"/>
<div  class="col-md-12">

<form class="modal-content animate col-md-4" asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display = 'none'" class="close" title="Close Modal">&times;</span>
        <img src="~/img/img1.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label class="col-sm-2 col-form-label"><b>Email</b></label>
        <input class="form-control" type="email" name="Email" required="">
        <button type="submit">Login</button>
    </div>
</form>
    </div>