@model ResetPasswordModel
<link rel="stylesheet" href="~/css/login.css"/>
<div class="col-md-12">

    <form class="modal-content animate col-md-4" asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="Token"/>
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display = 'none'" class="close" title="Close Modal">&times;</span>
            <img src="~/img/img1.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label asp-for="Email"><b>Okul Numaranız</b></label>
            <input asp-for="Email" required="">

            <label asp-for="Password"><b>Password</b></label>
            <input asp-for="Password" required type="password">
            <button type="submit">Login</button>
        </div>
    </form>
</div>